* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Sans;
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
}

section {
  background-color: #f9f9fa;
  display: grid;
  grid-template-columns: repeat(auto-fill, 90px);
  grid-template-rows: 20px repeat(12, 90px);
  grid-gap: 20px;
  border: 1px solid #d7d7db;
  justify-content: space-around;
  padding: 10px 20px;
  max-height: 100%;
  overflow-y: auto;
  grid-template-rows: 20px;
  align-content: start;
}

section header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: flex;
}

section h2 {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  flex: 1;
}

section .tab {
  --border-color: rgba(215, 215, 219, 0.4);
  height: 90px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 12px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1),
              0 0 4px 0px var(--border-color);
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 20px 1fr 20px 20px;
  transition: box-shadow 0.3s cubic-bezier(.07,.95,0,1);
  text-decoration: none;
}

section .tab:hover {
  box-shadow: 0 0 0 4px rgb(215, 215, 219);
  border-color: transparent;
}

.tab .tab-close {
  grid-column: -2 / -1;
  grid-row: 1 / 2;
  background: white;
  border: 1px solid var(--border-color);
  border-radius: 100%;
  transform: scale(0) translate(5px, -5px);
  transition: transform 0.3s cubic-bezier(.07,.95,0,1);
  line-height: 0px;
  justify-self: end;
}

.tab:hover .tab-close {
  transform: scale(2) translate(5px, -5px);
}

.tab .tab-favicon {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.tab .tab-screen {
  grid-column: 1 / -1;
  grid-row: 1 / 4;
  background-color: var(--border-color);
  border-radius: 5px 5px 0 0;
}

.tab .tab-origin {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  max-height: 100%;
  overflow: hidden;
  color: #4a4a4f;
  text-align: center;
  line-height: 20px;
  padding: 0 2px;
}

.tab-create {
  font-weight: bolder;
  border: none;
  font-size: 3rem;
  background-color: transparent;
  color: #4a4a4f;
  border-radius: 5px;
  transition: background-color 0.3s cubic-bezier(.07,.95,0,1);
  height: 90px;
}

.tab-create:hover {
  background-color: #ededf0;
}

.close {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
}

.close:hover {
  background-color: #ededf0;
}

.close:active {
  background-color: #d7d7db;
}

.close:focus {
  border: 2px solid #0a84ff;
}
